body,html {
  padding: 0px;
  margin: 0px;
}

a {
  color: #DC2727;
  text-decoration: none;
}

h1 {
  font-face: sans-serif;
  text-align: center;
}

h2,h3 {
  color: #DC2727;
  font-family: Arial, sans-serif;
  font-weight: normal;
}
h3 {
  font-size: 16pt;
}
h2 { border-bottom: 1px solid #DC2727 }
h4 { margin-top: 0px; margin-bottom: 5px; }

p {
  font-size: 1.1em;
  line-height: 1.5em;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

#top-wrap {
  width: 100%;
  background-color: #EFEDE4;
}

#bottom-wrap {
  width: 100%;
  background-color: #000;
}

#bottom {
  width: 1100px;
  height: 160px;
  margin: 0px auto;
  background: #EFEDE4 url("../img/PD_bg_bottom.png") no-repeat bottom center;
  position: relative;
}

#bottom-logo {
  position: absolute;
  width: 190px;
  height: 80px;
  top: 50px;
  right: 0px;
  background: transparent url("../img/Logo_bottom2.png") no-repeat bottom right;
}

#wrap {
  width: 1100px;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  padding-bottom: 30px;
}

#preload {
  margin-left: 9999px;
  height: 0px;
}

#header {
  height: 135px;
  position: relative;
  background-image: url("../img/PD_bg_top.png");
}
#header #mark a {
  display: block;
  position: absolute;
  left: -10px;
  top: 10px;
  width: 240px;
  height: 80px;
  background-image: url("../img/PD_logo.png");
}

#menu {
  position: absolute;
  right: 10px;
  top: 50px;
}

#menu a {
  text-decoration: none;
  color: #000;
  font-family: Arial, sans-serif;
}

#menu a:hover { text-decoration: underline }
#menu a.sel { color: #DC2727 }

#index #wrap { z-index: 0 }

#index .who a {
  color: #000;
}

#index .who a:hover {
  text-decoration: underline;
}

#index .column {
  width: 365px;
  margin: 0px 10px;
  display: inline-block;
  vertical-align: top;
}

#index .narrow-column {
  width: 300px;
  padding: 0px 10px;
}


#index  .service {
  padding-left: 55px;
  padding-top: 15px;
}
#index .service  p { margin: 0px; margin-bottom: 10px }

#index .service#ruby { background: url("../img/ruby.png") no-repeat 0 15px }
#index .service#haskell { background: url("../img/haskell.png") no-repeat 0 15px }
#index .service#python { background: url("../img/python.png") no-repeat 0 15px }
#index .service#postgres { background: url("../img/postgres.png") no-repeat 0 15px }

#index .column.services h3 {
  margin-bottom: 0px;
}

.project {
  margin-bottom: 40px;
  margin-top: 10px;
}

.project .technologies {
  width: 50px;
  padding: 0 10px;
  vertical-align: top;
  display: inline-block;
}

.project .description {
  width: 900px;
  display: inline-block;
}

#contents {
  min-height: 100px;
  margin-bottom: -70px;
  position: relative;
  z-index: 2;
}

#contents #graphic { height: 420px }
#contents #graphic .img { text-align: center; }
#contents p {
  color: #DC2727;
  width: 400px;
  min-height: 100px;
}


hr {
  border: 0;
  margin: 50px;
}

.image {
  margin: 0;
  float: left;
  padding: 30px;
  width: 380px;
  display: inline;
}

.caption {
  text-align: center;
  font-style: italic;
}

.clearfix {
  clear: both;
}