body {
	font-family: "Aktiv Grotesk", sans-serif;
}

h1 {
	font-size: 52px;
	line-height: 1.1em;
	letter-spacing: -1px;
	margin: 20px 0 25px 0;
}

h2 {

}

h3 {
	font-size: 28px;
	line-height: 1.4em;
	padding-left: 10px
}

h4 {
	font-size: 18px;
	line-height: 1.1em;
	margin: 0 0 0 0;
}

p {
	font-size: 18px;
	line-height: 1.6em;
}

a {
	color: #000000;
}

a.linktomain{
	text-decoration:none;
}

#top-wrap {
	border-bottom: 2px solid #000000;
	position: fixed;
	z-index: 5;
	top: 0;
	width: 100%;
	background-color: #FFFFFF;
}

#wrap {
	width: 960px;
	margin: 0 auto;
}

#header p {
	line-height: 1.4em;
}

#main {
	width: 960px;
	margin: 200px auto 0 auto;
}

.logo {
	display: inline-block;
	vertical-align: top;
	width: 320px;
	margin: 0 75px 0 0;
}

.tagline {
	display: inline-block;
	vertical-align: top;
	width: 240px;
	margin: 15px 75px 0 0;
}

.info {
	display: inline-block;
	vertical-align: top;
	width: 240px;
	margin: 15px 0 0 0;
}

.section {
	margin: 70px 0;
}

.section-head {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin: 0 40px 0 0;
}

.section-content {
	display: inline-block;
	vertical-align: top;
	width: 700px;
	margin: 15px 0 0 0;
}

.col1 {
	display: inline-block;
	vertical-align: top;
	width: 320px;
	margin: 0 50px 0 0;
}

.col2 {
	display: inline-block;
	vertical-align: top;
	width: 320px;
	margin: 0 0 0 0;
}

#services .col1, #services .col2{
	margin-bottom:40px;
}

#services img {
	margin: 10px 0 10px 0;
}

#services p {
	margin-bottom: 40px;
}

#services .icon{
	font-size:50px;
	color:#a396f5;
	/*font-weight:900;
    text-shadow: 1px 1px 1px #c8c8c8;*/
}

#services h4{
	margin-top:20px;
}

#services ul{
	margin-left:0;
	padding-left:0;
}

#services li {
      font-size: 16px;
    list-style-type: none;
    padding-bottom: 8px;
}

.project {
	margin: 30px 0 120px 0;
}

.project:last-child{
	margin-bottom:0;
}

.technologies {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	margin: 45px 0 0 0;
}


#technologies .col1{
	margin-bottom: 10px;
    width: 700px;
}

#technologies h4, #technologies p{
	display:inline-block;
}

#technologies h4 {width:120px;}

#technologies .icon {
    color: #6987ef;
    display: inline-block;
    font-size: 36px;
    margin-right: 20px;
    text-align: center;
    width: 60px;
}

.description {
	display: inline-block;
	vertical-align: top;
	width: 600px;
	margin: 0 0 0 0;
}

.image {
	margin: 30px 0 15px 0;
}

.image img {
	width: 400px;
	height: auto;
	margin-left: -15px;
	display: inline-block;
	vertical-align: top;
}

.image .caption {
	width: 200px;
	display: inline-block;
	vertical-align: bottom;
	margin: 0 0 0 10px;
}

.image .caption p {
	font-size: 16px;
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid #999;
	padding: 0.5rem;
	text-align: left;
}

/* ICON FONTS */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?r735zz');
	src:url('fonts/icomoon.eot?#iefixr735zz') format('embedded-opentype'),
		url('fonts/icomoon.ttf?r735zz') format('truetype'),
		url('fonts/icomoon.woff?r735zz') format('woff'),
		url('fonts/icomoon.svg?r735zz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
	content: "\e000";
}
.icon-laptop:before {
	content: "\e001";
}
.icon-desktop:before {
	content: "\e002";
}
.icon-tablet:before {
	content: "\e003";
}
.icon-phone:before {
	content: "\e004";
}
.icon-document:before {
	content: "\e005";
}
.icon-documents:before {
	content: "\e006";
}
.icon-search:before {
	content: "\e007";
}
.icon-clipboard:before {
	content: "\e008";
}
.icon-notebook:before {
	content: "\e00a";
}
.icon-book-open:before {
	content: "\e00b";
}
.icon-browser:before {
	content: "\e00c";
}
.icon-calendar:before {
	content: "\e00d";
}
.icon-toolbox:before {
	content: "\e014";
}
.icon-briefcase:before {
	content: "\e015";
}
.icon-bargraph:before {
	content: "\e018";
}
.icon-grid:before {
	content: "\e019";
}
.icon-expand:before {
	content: "\e01a";
}
.icon-focus:before {
	content: "\e01b";
}
.icon-edit:before {
	content: "\e01c";
}
.icon-adjustments:before {
	content: "\e01d";
}
.icon-shield:before {
	content: "\e022";
}
.icon-trophy:before {
	content: "\e023";
}
.icon-flag:before {
	content: "\e024";
}
.icon-map:before {
	content: "\e025";
}
.icon-basket:before {
	content: "\e027";
}
.icon-streetsign:before {
	content: "\e029";
}
.icon-gears:before {
	content: "\e02b";
}
.icon-lightbulb:before {
	content: "\e030";
}
.icon-layers:before {
	content: "\e031";
}
.icon-pencil:before {
	content: "\e032";
}
.icon-tools:before {
	content: "\e033";
}
.icon-tools-2:before {
	content: "\e034";
}
.icon-circle-compass:before {
	content: "\e038";
}
.icon-linegraph:before {
	content: "\e039";
}
.icon-beaker:before {
	content: "\e03c";
}
.icon-caution:before {
	content: "\e03d";
}
.icon-recycle:before {
	content: "\e03e";
}
.icon-anchor:before {
	content: "\e03f";
}
.icon-map-pin:before {
	content: "\e047";
}
.icon-dial:before {
	content: "\e048";
}
.icon-target:before {
	content: "\e04e";
}
.icon-lifesaver:before {
	content: "\e054";
}
.icon-quote:before {
	content: "\e057";
}
.icon-scope:before {
	content: "\e058";
}
.icon-refresh:before {
	content: "\e05a";
}
